.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.Cimage {
  height:100%;
  width:100%;
}

.demo-card-wide {
  margin:none;
}

/*Middle content- Home page*/

.midcontent {
  /*width:60%;*/
  margin: 0 auto;
  background-color: #f5f5f5;
  text-align: left;
  /*background: url("http://i.imgur.com/hkzvMXc.png");*/
}

.midcontent h3 {
  color:#49a5a9;
  text-align: center;
}
.midcontent p {
  color:#757575;
}
.midcontback {
  background-color: #f5f5f5;
}
#block1 {
  float:left;
  margin: 10px 20px;
  padding: 20px;
  width: 40%;
}
#block2 {
  float:right;
  margin: 10px 20px;
  padding: 20px;
  width: 40%;
  margin-left: 85px;
}


/*TABS*/
.mdl-tabs {
  margin:;

}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color:#ed7a66;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #d6df93;
}

.demo-card-square.mdl-card {
  width: 100%;
  height: 320px;
  margin: auto;
  position: relative;
}

.demo-card-square.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: url ('http://i.imgur.com/BqwU0Ca.png');
  background-repeat: no-repeat;
  background-position: center;
}

.demo-card-square > .mdl-card__accent {
  background: #ff9800;
}

.mdl-button--colored {
  opacity: 0.7;
}
#tabcard1{
  background: #49a5a9;
}

#tabcard2 {
  background: #ed7a66;
}

#tabcard3 {
  background-image: url("http://i.imgur.com/I5PSm9P.png") ;
  background-color: #d6df93;
}

/*Title*/
#leftmenu {
  background-color: #d6df93;
}
#regmenu {
  color:#d6df93;
}
#footermenu {
  color:white;
}
.material-icons, .mdl-layout-title,
.mdl-layout__header-row .mdl-navigation__link {
  color:#757575;
}

.mdl-layout-title {
  font-family: 'Bree Serif', serif;
}

/*ICON COLORS*/
#icon1 {
  color:#49a5a9;
  font-size: 32px;
}
#icon2 {
 color:#ed7a66;
 font-size: 32px;
}
#icon3 {
 color:#d6df93;
 font-size: 32px;
}

#sample6{
  color:#757575;
}

/* Navigation */
.mdl-navigation__link:hover {
  border-bottom: 5px solid #ed7a66;
}
.mdl-layout__header-row, .mdl-layout__drawer,
.mdl-mini-footer {
  font-family: 'Bree Serif', serif;
}
.mdl-layout__header {
  background-color: white;
}

/*Locations Cards*/
#backgroundgradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6df93+50,ffffff+81,ffffff+81,ffffff+91,ffffff+98 */
background: rgb(214,223,147); /* Old browsers */
background: -moz-linear-gradient(top, rgba(214,223,147,1) 50%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 91%, rgba(255,255,255,1) 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(214,223,147,1) 50%,rgba(255,255,255,1) 81%,rgba(255,255,255,1) 81%,rgba(255,255,255,1) 91%,rgba(255,255,255,1) 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(214,223,147,1) 50%,rgba(255,255,255,1) 81%,rgba(255,255,255,1) 81%,rgba(255,255,255,1) 91%,rgba(255,255,255,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6df93', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.locationbody h3 {color:#ed7a66; text-align: center;} .locationbody p {color:grey;text-align: center;} .locationbody h5 {color:#49a5a9; text-align: center;}

.locationbody {


}

#asd {
  background-color: #f5f5f5;
}

#locationmap {
    border: 8px solid #f5f5f5;
    border-radius:3px;
    margin:auto;
}

.location-card {
  background-color:;
}

.location-card .demo-card-square.mdl-card {
  width: 70%;
  height: 500px;
  margin: auto;
  position: relative;
}
.location-card h3 {
  text-align: center;
}

/* FOOTER */

.mdl-mini-footer {
  background-color: #d6df93;
}

#imgbackground {
  background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4df5b+0,d6df93+82 */
background: rgb(180,223,91); /* Old browsers */
background: -moz-linear-gradient(left, rgba(180,223,91,1) 0%, rgba(214,223,147,1) 82%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(180,223,91,1) 0%,rgba(214,223,147,1) 82%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(180,223,91,1) 0%,rgba(214,223,147,1) 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#d6df93',GradientType=1 ); /* IE6-9 */;
}

/* MEDIA QUERIES FOR HOME PAGE TEXT*/

.width100 {
  width: 100%;
}

/* SERVICES PAGE */

#gridwidth {
  width:80%;
  padding-top: 90px;
}

#servicesbck {
  background-color: #f5f5f5;
}

.inithidden {
  display:none;
}

.mdl-button-close {
  display: none;
}

/*@media screen and (min-width: 1919px) {
  #block2{
    float:right;
    margin: 10px 20px;
    padding: 20px;
    width: 40%;
    margin-left: 85px;
  }
}
@media screen and (min-width: 1900px) {
 #block2{
   float:right;
   margin: 10px 20px;
   padding: 20px;
   width: 40%;
   margin-left: 0px;
  }
}*/





/*@media screen and (min-width: 1201px) {
 {
    font-size: 34px;
  }
}
@media screen and (min-width: 1201px) {
 #res{
    font-size: 34px;
  }
}

@media screen and (max-width: 1200px) {
#res{
    font-size: 24px;
  }
}

@media screen and (max-width: 800px) {
#res {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
#res {
    font-size: 10px;
  }
}*/




/*@media screen and (min-width: 1201px) {
 #res2{
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
#res2{
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
#res2 {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
#res2 {
    font-size: 8px;
  }
}*/
