.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.Cimage {
  height:100%;
  width:100%;
}
.demo-card-wide {
  margin:none;
}

.midcontent {
  width:60%;
  margin: 0 auto;
  background-color: #f5f5f5;
  text-align: left;
  /*background: url("http://i.imgur.com/hkzvMXc.png");*/
}

.midcontent h3 {
  color:#49a5a9;
  text-align: center;
}
.midcontent p {
  color:#757575;
}
.midcontback {
  background-color: #f5f5f5;
}
#block1 {
  float:left;
  margin: 10px 20px;
  padding: 20px;
  width: 40%;
}
#block2 {
  float:right;
  margin: 10px 20px;
  padding: 20px;
  width: 40%;
}


/*TABS*/
.mdl-tabs {
  margin:;

}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color:#ed7a66;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #d6df93;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  margin: auto;
  position: relative;
}

.demo-card-square.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #03a9f4;
}

.demo-card-square > .mdl-card__accent {
  background: #ff9800;
}

/*Title*/
#leftmenu {
  background-color: #d6df93;
}
#regmenu {
  color:#d6df93;
}
#footermenu {
  color:white;
}
.material-icons, .mdl-layout-title,
.mdl-layout__header-row .mdl-navigation__link {
  color:#757575;
}

.mdl-layout-title {
  font-family: 'Bree Serif', serif;
}

/*ICON COLORS*/
#icon1 {
  color:#49a5a9;
  font-size: 32px;
}
#icon2 {
 color:#ed7a66;
 font-size: 32px;
}
#icon3 {
 color:#d6df93;
 font-size: 32px;
}

#sample6{
  color:#757575;
}

/* Navigation */
.mdl-navigation__link:hover {
  border-bottom: 5px solid #d6df93;
}
.mdl-layout__header-row, .mdl-layout__drawer,
.mdl-mini-footer {
  font-family: 'Bree Serif', serif;
}
.mdl-layout__header {
  background-color: white;
}

/*Home page cards*/



/* FOOTER */

.mdl-mini-footer {
  background-color: #d6df93;
}
